.submit:hover {
  transform: scale(1.05);
  background-color: white;
}

#bolinha1:hover {
  transform: scale(1.05);
  background-color: hsl(25, 97%, 53%);
}
#bolinha2:hover {
  transform: scale(1.05);
  background-color: hsl(25, 97%, 53%);
}
#bolinha3:hover {
  transform: scale(1.05);
  background-color: hsl(25, 97%, 53%);
}
#bolinha4:hover {
  transform: scale(1.05);
  background-color: hsl(25, 97%, 53%);
}
#bolinha5:hover {
  transform: scale(1.05);
  background-color: hsl(25, 97%, 53%);
}
